/* ****************
       HEADER
******************/

header{
    background-image:url(../images/header-bg.png);
    background-position:center center;
    text-align:center;
    color:#fff;
}

header .intro-text{
    padding-top:100px;
    padding-bottom:50px
}

header .intro-text .intro-lead-in{
    font-family: Gotham light;
    font-size:22px;
    line-height:22px;
    margin-bottom:25px
}

header .intro-text .intro-heading{
    font-family:Gotham black,sans-serif;
    font-weight:700;
    font-size:50px;
    line-height:50px;
    margin-bottom:25px
}

.header-upper{
    background-color: #A7E0F4;
}

.header-lower{
    background-color: #000;
}

@media (min-width:768px){
    header .intro-text{
        /*padding-top:300px;                  */
        padding-bottom:200px
    }
header .intro-text .intro-lead-in{
    font-family:Gotham,sans-serif;
    font-size:40px;
    line-height:40px;
    margin-bottom:25px
    }
header .intro-text .intro-heading{
    font-family:Gotham black,sans-serif;
    font-weight:700;
    font-size:75px;
    line-height:75px;
    margin-bottom:50px
    }
header .intro-text .details{
    font-family: Gotham light,sans-serif;
    }
}

/***************
    FOOTER
****************/
.footer {
    background: url(../images/footer.png);
    color: #FFF;
}

.subscribe-form form{
    width: 57%;
    margin: 0 auto;
}

.subscribe-form form input[type="text"]{
    background: #fff;
    color: #000;
    padding: 1em;
    width: 94%;
    border:2px solid #fff;
    border-radius: 0.2em;
}

.subscribe-form form input[type="submit"]{
    padding: 0.6em 2em;
    background: #0C789F;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    display: block;
    margin: 1.8em auto 0;
    border: none;
}

.subscribe-form form input[type="submit"]:hover{
    background: #000;
}

.subscribe-form{
    padding: 1.8em 0 4em;
}

.newsletter input[type="text"] {
    width: 75%;
    padding: 7px 10px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #FFF;
    margin-bottom: 10px;
}

.newsletter input[type="submit"] {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 8px 21px;
    float: right;
    font-weight: 600;
    font-size: 13px;
}

.newsletter input[type="submit"]:hover {
    background-color: #fff;
}

.footer-grids p {
    line-height: 25px;
}

.copyright {
    padding: 50px 10px;
    text-align: center;
    border-top: 1px solid #CCC;
    color: #FFF;
}

.copyright p {
    line-height: 25px;
}

.copyright a {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 600;
}

.copyright a:hover {
    color: #0C789F;
}

.social-icons{
    color: #0C789F;
    margin-bottom: 50px;
    padding-top: 20px;
    margin-left: -5px;
    list-style: none;
    padding-left: 55px;
}

ul.social-icons li a{
    padding: 5px;
    display: block;
    background-color: #0C789F;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


/*****************
    NAVIGATION 
*****************/
.side-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}

.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}

.side-menu ul li a span {
    display: inline-block;
}

.side-menu ul li a span.menu-title {
    color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #555;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}

.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}

.side-menu ul li a span.dot {
    position: relative;
    background-color: #555;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.side-menu ul li a:hover span.dot {
    transform: scale(1.8);
}

/***********************
    CUSTOM STYLING
***********************/
.details{
    text-decoration: none;
    text-align: center;
    text-shadow: transparent;
    color: #0C789F;
}

.section-heading{
    text-align: center;
    color: #0C789F;
}

.pull-left{
    padding: 20px 40px 10px 100px;
}

.pull-right{
    padding:25px 165px 20px 20px;
}

.address{
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    color: #999;
}

.header-social-icons{
    padding: 5px;
}

.intro-heading{
    font-size: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}